body {
    background-color: #607eaa; /* Milder Blue*/
}
.intro {
    background-color: #f3f3e0; /* beige */
    border-radius: var(--bs-border-radius) !important;
}

.font-navy {
    color: #133e87;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

.hind-madurai-regular {
    font-family: "Hind Madurai", serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
    35% {
        transform: translateX(0%);
        opacity: 1;
    }
    70% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0.5;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(40%);
        opacity: 0.5;
    }
    35% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.translate-left {
    @media (min-width: 992px) {
        animation: slide-from-left;
        animation-timeline: view();
    }
}

.translate-up {
    @media (min-width: 992px) {
        animation: slide-up linear;
        animation-timeline: view();
    }
}
.d-flex.flex-column {
    @media (max-width: 992px) {
        gap: 40px;
    }
}

.card {
    background-color: transparent;
    border-color: transparent;
}

.infiniteCarouselContainer > img {
    max-width: 4rem;
    margin: 1rem;
    animation-name: spin;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-66rem);
    }
}

@keyframes riseUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes riseDown {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.TypeForSpeedInfo {
    position: fixed;
    top: 20%;
    left: 50%;
    translate: -50%;
    height: 80vh;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.toggleButton{
    border: 0;
    background-color: #f3f3e0;
}

.toggleButton > img {
    transition: ease-out 0.4s;
}

.toggleButton > img:hover {
    transform: translateY(-5%);
    opacity: 0.8;
}

.show {
    animation-name: riseUp;
    display: visible;
}

.hide {
    animation-name: riseDown;
}
