body {
    background-color: #607eaa; /* Milder Blue*/
}
.intro {
    background-color: #f3f3e0; /* beige */
}

.font-navy {
    color: #133e87;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}

.hind-madurai-regular {
    font-family: "Hind Madurai", serif;
    font-weight: 400;
    font-style: normal;
}

.p-capsule {
    border: solid #eae3d2 10px;
    font-weight: bold;
    padding: 5px;
    border-radius: 15%;
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-50%);
        opacity: 0.5;
    }
    35% {
        transform: translateX(0%);
        opacity: 1;
    }
    70% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0.5;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(40%);
        opacity: 0.5;
    }
    35% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.translate-left {
    @media (min-width: 992px) {
        animation: slide-from-left;
        animation-timeline: view();
    }
}

.translate-up {
    @media (min-width: 992px) {
        animation: slide-up linear;
        animation-timeline: view();
    }
}
.d-flex.flex-column {
    @media (max-width: 992px) {
        gap: 40px;
    }
}

.card {
    background-color: transparent;
    border-color: transparent;
}

.infiniteCarouselContainer > img {
    max-width: 4rem;
    margin: 1rem;
    animation-name: spin;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-66rem);
    }
}
